<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/shared.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="icon" href="/favicon.ico" />
    <title>Class Notes</title>
</head>
<body>
    <div id="container">
        <nav>
            <a href="/">Home</a>
            <a href="/donate">Donate</a>
            <a href="/signup">Sign Up</a>
            <a href="/login">Login</a>
        </nav>
        <p id="message"></p>
        <header>
            <p>If you can afford to donate, </p> <h1>Please give your money to Palestine</h1>
            <p>Palestinians are dying every day at the hands of an apartheid regime which systematically killed nearly 40 thousand civillians in 220 days. If you have any sort of money to donate to us, please consider first donating to Palestinians to help their material conditions. Linked below are a few good charities.</p>
            <div class="flex" style="margin-top: 16px; margin-bottom: 16px;">
                <a class="button button-important" href="https://www.pcrf.net/">PCRF</a>
                <a class="button button-important" href="https://arab.org/">Arab.org</a>
                <a class="button button-important" href="https://www.unrwa.org/">UNRWA</a>
                <a class="button button-important" href="https://www.map.org.uk/">MAP</a>
            </div>
            <p>If you have already donated significant amounts on these charities, I still suggest you donate more, however if you insist on donating to us or our server costs, see below:</p>
            <div class="flex" style="margin-top: 16px; margin-bottom: 16px;">
                <a class="button" href="https://throne.com/florei">Throne</a>

            </div>
        </header>
    </div>
    <script src="/default.js"></script>

</body>
</html>