<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/shared.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="icon" href="/favicon.ico" />
    <title>Class Notes</title>
</head>
<body>
    <div id="container">
        <nav>
            <a href="/">Home</a>
            <a href="/donate">Donate</a>
            <a href="/signup">Sign Up</a>
            <a href="/login">Login</a>
        </nav>
        <p id="message"></p>
        <header>
            <%= JSON.stringify(user) %>
        </header>
    </div>
    <script src="/default.js"></script>

</body>
</html>